.app{
    position: relative;
    top: 200px;
    left: 500px;
    font-size: 20px;
}

.hotelApp{
  background-color: #1f3944;
  width: 500px;
  height:250px;
  color: white;
  display:flex;
  flex-direction: column;
  justify-content: center;
}

.block{
    padding-top:25px;
    padding-left: 40px;
}

.message{
     padding-right: 0px;
}

span{
    padding-left: 50px;
    padding-right: 50px;
}

.dash{
    height: 2px;
    width: 400px;
    background-color: black;
    margin-top: 14px;
}

.add{
    height: 25px;
    width: 25px;
    background-color:#01FF70 ;
    border-radius: 50%;
    border: none;
}

.reduce{
    height: 25px;
    width: 25px;
    background-color:#FF4136 ;
    border-radius: 50%;
    border: none;
}